@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Montserrat:wght@700&family=Open+Sans:wght@300;500;700&family=Poppins:wght@100;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: rgb(234, 235, 235);    
    color: rgb(80, 77, 77);
    padding: 0 1rem;
    gap: 15rem;
    margin: 0 auto;
}

.image-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.img-autism {
    width: 4rem;
}

.nav_2 {
    display: flex;
    gap: 2rem;
    font-size: 20px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_banner img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.caixas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inf-cx1, .inf-cx2, .inf-cx3, .inf-cx4, .inf-cx5, .inf-cx6 {
    width: 280px;
    height: 400px;
    border: 5px solid;
    margin: 2rem;
}

.img_therapy{
    width: 100%;
}
