.text-center {
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    margin-top: 4rem;
}

.text-center p {
    margin-top: 2rem;
}

.text-center h2 {
    margin-bottom: 1rem;
}

.text-center img {
    width: 100%;
    margin-top: 2rem;
}

textarea {
    width: 100%;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

form h3 {
    margin-top: 2rem;
}

form input {
    height: 2rem;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 1rem;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}