.txt-direito {
    display: flex;
    flex-direction: column; 
    max-width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    margin-top: 4rem;  
    font-size: 20px;   
}

.txt-direito p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
