.txt-entenda {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txt-entenda img {
        max-width: 40%;
        margin-left: 40%;
        margin-right: 40%;
        text-align: justify;
        margin-top: 4rem;    
}

.txt-entenda p {
    margin: 30%;
    text-align: justify;
    margin-top: 4rem; 
}




