@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgba(221, 229, 231, 0.74);
    color: rgb(80, 77, 77);
    padding: 0 16px;
    gap: 240px;
    margin: 0 auto;
    width: 100%;
}

.nav_2 {
    display: flex;
    gap: 32px;
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.container_information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(48, 121, 158);
    height: 820px;
    gap: 8px;
    flex-wrap: wrap;
}

.caixas {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: rgb(181, 178, 178);
    border-radius: 15px;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.inf-boxs {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_boxs {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.btn button {
    width: 192px;
    height: 48px;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
}

.sobre {
    margin: auto;
    height: 640px;
}

.sobre-nos {
    display: flex;
    margin: 320px 544px 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sobre-nos h1 {
    font-size: 40px;
    color: rgb(242, 134, 1);
    margin: 0 0 24px;
}

.text-sobre {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.newsletter {
    display: flex;
    height: 320px;
    background-color: rgb(255, 196, 0);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    gap: 160px;
}

.newsletter p {
    margin-top: 25px;
}

.newsletter input {
    border-radius: 5px;
    border: none;
    height: 48px;
    width: 336px;
}